.trailer-page {
  &__back {
    position: absolute;
    top: 2rem;
    left: 2rem;
  }
  &__back {
    cursor: pointer;
    position: absolute;
    z-index: 2;
    font-size: 3rem;
    margin: 3rem;
  }
  .video-js {
    width: 100vw;
    height: 100vh;
  }
}