.movie {
  height: 100%;
  width: 100%;
  background-color: $light-grey;
  &__cover {
    position: relative;
    background-size: cover;
    background-position: center top;
    width: 100%;
    height: 62rem;
    display: flex;
    justify-content: center;
    align-items: center;
    .cover-gradient {
      position: absolute;
      width: 100%;
      height: 100%;
      background: linear-gradient(to bottom,transparent 50%,rgba(0,0,0,.15) 60%,rgba(0,0,0,.5) 70%,rgba(0,0,0,.7) 80%,#000 100%);
    }
  }
  &__trailer-btn{
    cursor: pointer;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    p {
      margin: 0;
      text-shadow: 1px 1px #000000;
    }
    span {
      font-size: 5rem;
      background: rgba(0, 0, 0, 0.7);
      border-radius: 50%;
      width: 10rem;
      height: 10rem;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 0.5rem;
    }
  }
  &__info {
    margin-left: $m-size;
    margin-right: $m-size;
    border-top: none;
    border-right: 1px solid $border-grey;
    border-left: 1px solid $border-grey;
    border-bottom: 1px solid $border-grey;
    border-radius: 0 0 2px 2px;
    height: 100px;
    background: white;
  }
}

.thumbnail {
  margin: 5px;
  &__cover {
    position: relative;
  }
  &__link {
    position: absolute;
    width: 100%;
    height: 100%;
    &:hover {
      border: solid 4px $yellow;
      border-radius: 2px;
      box-sizing: border-box;
    }
  }
  &__image {
    width: 100%;
    border-radius: 2px;
  }
  &__info {
    display: flex;
    justify-content: center;
    margin-top: 0.5rem;
    .material-icons {
      margin-right: 0.2rem;
      font-size: 1.1rem;
    }
  }
  &__votes, &__score {
    margin-left: 0.3rem;
    margin-right: 0.3rem;
  }
  &__score {
    color: $dark-grey;
  }
  &__votes {
    color: $yellow;
  }
}